.breadcrumbs {
    margin: 10px 0;
    margin-left: 10px;
  }
.breadcrumbs a {
    text-decoration: none;
    color: #252526;
    margin: 0 5px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}
  