.breadcrumbs {
    margin: 10px 0;
    margin-left: 10px;
}

.breadcrumb-link {
    text-decoration: none;
    color: blue;
}
.breadcrumb-link:hover{
    text-decoration: underline;
}

.breadcrumb-link.current {
    text-decoration: none;
    color: black;
}

  