.CarrerPage {
    min-height: 100vh;
}
.bannerCarrera {
    background-image: url('/public/bannerArqui.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    margin-top: 0;
    position: relative;
}
.bannerCarrera .acreditacion-image {
    position: absolute; 
    top: 10px; 
    right: 10px;
    width: 270px; 
    height: auto; 
    z-index: 1; 
  }
.title {
    font-size: 60px;
    font-weight: bold;
}

.title-carreras {
    font-size: 35px;
    font-weight: bold;
    
}
.body-carreras {
    margin-top: 20px;
    margin-left: 55px;
}

.description-box {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    height: 100%;
    width: 80%;
    margin: 1% 0%;
}
.container{
    display: flex;
}
.information-box {
    flex: 1;
    text-align: left;
    font-size: large;
    padding: 20px 10px;
    border: 2px solid gray;
    width: 30%;
    background-color: rgba(211, 211, 211, 0.4);
    margin: 0% 10% 10% 0%;
}
.studyPlan{
    background-image: url('/public/PlanArqui.png');
    width: 100%; 
    height: 800px;
    background-size: 90% auto;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 0% 10% 10% 0%;
    border-radius: 50px;
}
table {
    flex: 1;
    table-layout: fixed;
    border-collapse: collapse;
    width: 90vw;
    margin: 0% 10% 0% 0%;
}
td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.4);
}

table tr td:nth-child(n+2),
table tr th:nth-child(n+2) {
    width: 10%; 
}

