.home {
    min-height: 100vh;
}
.banner {
    background-image: url('/public/banner.png');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    margin-top: 0;
}
.title {
    font-size: 60px;
    font-weight: bold;
}
.breadcrumbs {
    font-size: 17px;
}
.title-carreras {
    font-size: 35px;
    font-weight: bold;
    
}
.body-carreras {
    margin-top: 20px;
    margin-left: 55px;
}
.form-search-carreras{
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
}
.search-bar {
    margin-left: 10px;
    padding-right: 150px;
    font-size: large;
    border-radius: 5px;
}
.form-submit{
    margin-left: 10px;
    padding-right: 20px;
    font-size: large;
    border-radius: 2px;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 90vw;
}
td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.4);
}